.article
  %h1
    .article__title
      2021年度春季リーグ戦／入替戦の中止について
  %p
    5月16日から北海道に「緊急事態宣言」が発令されることになりましたため、
    %span.marker--yellow.font-weight-bold.text-danger
      2021年度春季リーグ戦は5月14日をもって中止といたします。
    %br.pc_br
    これに伴い、
    %span.marker--yellow.font-weight-bold.text-danger
      2021年度春季入替戦も中止といたします。
    学生や関係者の健康・安全を守るためのの対応であり、ご理解いただけますと幸いです。
    %br.pc_br
    コロナ禍の中でも、ファンの皆様からオフライン／オンライン両方でたくさんの応援をいただきました。誠にありがとうございました。

  %p
    以下、現時点での決定事項について記載いたします。

  %h2.article__sub-title
    優勝について
  %p
    リーグ戦の優勝チームについては、以下のように決定いたします。
  %h3.article__sub-sub-title
    1部
  %p
    1部リーグ戦は、北海学園大学が4勝1分で優勝が決定しました（22季ぶり9回目）。
    %br.pc_br
    北海学園大学は、6月7日から開催の第70回全日本大学野球選手権記念大会に30年ぶり20回目の出場となります。
  %h3.article__sub-sub-title
    2部
  %p
    2部リーグ戦は、試合数が大学によって異なるため、順位は決定できないと判断いたしました。
    %br.pc_br
    秋季リーグ戦の組み合わせについては、昨秋のリーグ戦の順位をもとに決定いたします。
  %h3.article__sub-sub-title
    3部
  %p
    3部リーグ戦は、北星学園大学（2季連続10回目）と北海道医療大学（初）が、ともに4勝1敗で優勝が決定しました。

  %h2.article__sub-title
    表彰選手について
  %p
    1部、3部リーグの表彰選手については現在選考中です。5月下旬までに発表いたします。
    %br.pc_br
    2部リーグについては試合数が大学によって異なるため、表彰選手は選出しないことに決定しました。
