.article
  %h1
    .article__event
      札幌学生野球連盟 2020年度
    .article__title
      秋季入替戦の中止について
  %p
    8月28日に臨時理事会を開催し、下記の理由により、今年度の秋季入替戦は実施しないことを決定いたしました。

  %h2.article__sub-title
    中止とした理由

  %p
    8月28日現在、連盟加盟の18大学のうち、学内での個人練習・全体練習・オープン戦の全部、またはいずれかが認められず、
    %br
    リーグ戦に向けての練習やオープン戦が行えないまま開幕を迎えることとなるチームや、リーグ戦開幕時からの出場を見通せないチームが計6大学あります。
  %p
    このような状況では、通常のリーグ戦のように公平に力を発揮できる環境になく、
    %br
    チームの実力以外の要因によって順位が決定される可能性もあるため、秋季入替戦は実施しないこととします。

  %p.article__last-message
    ※なお、1部・2部・3部リーグ戦については、日程変更に伴う公営球場の確保が困難な状況であるため、開幕日を変更せず実施します。
