.article
  %h1
    .article__event
      札幌学生野球連盟 2021年度春季リーグ戦／入替戦
    .article__title
      実施条件・特別規定
  %p
    2021年度春季リーグ戦／入替戦を開催するにあたり、以下のように実施条件・特別規定を制定する。

  %h2.article__sub-title
    実施条件

  %h3.article__sub-sub-title
    春季リーグ戦を中止する場合
  %p
    以下の場合、春季リーグ戦を中止とする。
  %ol.article__list
    %li
      リーグ戦期間中に、石狩管内で新型コロナウイルス感染症拡大による「緊急事態宣言」が発令された場合
    %li
      リーグ戦開幕前であっても、「緊急事態宣言」がリーグ戦期間中に発令されることが確実な場合
    %li
      所属する大学よりリーグ戦に出場が認められないチームが多く、リーグ戦の運営が難しくなるなどの理由から、理事会でリーグ戦の中止を決定した場合
    %li
      連盟で定めたガイドラインに明らかに反するなどの理由で、理事会でリーグ戦の中止を決定した場合

  %h3.article__sub-sub-title
    入替戦を中止する場合
  %p
    以下の場合、入替戦を中止とする。
    %br
    なお、昇格・降格が決していない段階で入替戦が中止となった場合は、昇格・降格はしないこととする。
  %ol.article__list
    %li
      入替戦期間中に、石狩管内で新型コロナウイルス感染症拡大による「緊急事態宣言」が発令された場合
    %li
      入替戦前であっても、「緊急事態宣言」が入替戦期間中に発令されることが確実な場合
    %li
      連盟で定めたガイドラインに明らかに反するなどの理由で、理事会で入替戦の中止を決定した場合
  %p
    また、下記「春季リーグ戦の特別規定」の「3.」に該当するチームがある場合は、そのチームに関する組み合わせのみを中止とする。


  %h2.article__sub-title
    特別規定

  %h3.article__sub-sub-title
    春季リーグ戦の特別規定
  %p
    以下のように春季リーグ戦の特別規定を制定する。
  %ol.article__list
    %li
      試合は9回打ち切りとし、同点の場合は引き分けとする。
    %li
      試合をするチームが、以下の理由で出場できない場合、その試合については各リーグごとに以下の対応を行う。

      .mt-2.font-weight-bold 理由
      %ul.mb-2
        %li
          大学の決定により、大会参加が認められないなどの事情があること
        %li
          大学の決定による活動停止の後、活動再開からリーグ戦開幕までの練習期間が短いこと（練習期間については連盟と協議する）
        %li
          チーム内で新型コロナウイルス感染者が発生し、大学の決定により試合への出場が認められないこと

      .font-weight-bold 各リーグごとの対応
      %ul.mb-2
        %li
          1部：対象試合の再試合は5月27日までの期間で行う
        %li
          2部：対象試合の再試合は6月10日までの期間で行う
        %li
          3部：対象試合は、試合に出場できないチームの不戦敗とする

    %li
      上記「2.」の対応をもってしても対象試合が消化できない場合は、その対象試合については試合に出場できなかったチームの不戦敗とするが、
      %br.pc_br
      その不戦敗によって1部もしくは2部リーグの最下位になった場合は、そのチームに関する入替戦は実施しない。
      %br.pc_br
      （当該チームに関する組み合わせのみを中止とする。もう一組の入替戦は、問題なければそのまま実施する）

    %li
      試合に使用するロージンは、試合前に審判から両軍に各1個を配布する。
      %br.pc_br
      感染予防の観点から、投手はイニング開始時にマウンドに持って行き、終了時にはベンチに持ち帰る。
    %li
      試合時間が長くなった場合の球回しの省略については、各リーグで判断する。
    %li
      試合終了後は連盟が用意した消毒液で、自チームのベンチを消毒する。時間は5分間とする。
      %br.pc_br
      消毒作業に伴い、前の試合の終了から次の試合の開始までの時間は、1部リーグは40分間、2・3部リーグは45分間とする。
      %br.pc_br
      シートノックを省略する場合は、この時間を短縮する。
    %li
      ここに定められてない項目については、連盟事務局と協議し決定する。

  %h3.article__sub-sub-title
    入替戦の特別規定
  %p
    急ぎ検討しております。確定次第こちらに追記いたします。
