.article.mb-5
  %h1
    .article__event
      札幌学生野球連盟 2021年度秋季リーグ戦／入替戦
    .article__title
      実施条件・特別規定
  %p
    2021年度秋季リーグ戦／入替戦を開催するにあたり、以下のように実施条件・特別規定を制定する。

  %h2.article__sub-title
    1. 「緊急事態宣言」及び「まん延防止等重点措置」への対応
  %p
    リーグ戦期間中に、札幌市又は石狩管内及び後志・空知管内において
    %br.pc_br
    「緊急事態宣言」及び「まん延防止等重点措置」が発令されることが確実な場合は、以下の対応を取る。

  %h3.article__sub-sub-title
    1-1. リーグ戦の開催可否
  %p
    各リーグ戦の開催可否について、理事会で協議する。以下の場合、大会中止が想定される。

  %ol.article__list
    %li
      各リーグ単位で半数以上の大学が出場困難となった場合
    %li
      連盟で定めたガイドラインに明らかに反する場合
    %li
      道内の感染状況が著しく悪化し、各リーグ戦の会場確保が困難となった場合

  %h3.article__sub-sub-title
    1-2. 観客の入場制限の判断
  %p
    リーグ戦の開催または続行の判断をした場合でも、以下のように観客の入場を制限する場合がある。

  %ol.article__list
    %li
      「緊急事態宣言」の発令期間中は、無観客開催（スカウト等は除く）とする。
      %br.pc_br
      この場合は、参加チームから球場入りする人数について各チームで判断する。
    %li
      「まん延防止等重点措置」の発令期間中は、施設責任者と協議のうえ、各リーグ単位で有観客開催とするかを判断する。

  %h2.article__sub-title
    2. 大会中止時の順位決定方法
  %p
    リーグ戦中に大会中止となった場合、以下の方法で順位を決定する。
    %br.pc_br
    ただし、総当り1回戦を終えていないリーグについては順位を決定しない。

  %ol.article__list
    %li
      中止時点での勝率を用いて順位を決定する。この場合、消化試合数は問わない。
    %li
      中止時点で勝率が同率の場合、理事会の判断で優勝決定戦を行う場合がある。
    %li
      優勝決定戦が開催できない場合、当該チーム同士の対戦成績、得失点差、総得点の順で比較し、優勝チームを決定する。
    %li
      勝率が同率で最下位チームが複数ある場合、順位決定戦は行わない。
      %br.pc_br
      この場合は、前回大会の順位をもとに次回大会の組み合わせを決定する。入替戦・昇格降格については後述する。

  %h2.article__sub-title
    3. 入替戦の開催可否
  %p
    以下の場合、入替戦を中止とする。
    %br.pc_br
    （当該チームに関する組み合わせのみを中止とする。もう一組の入替戦は、問題なければそのまま実施する）

  %ol.article__list
    %li
      当該リーグのリーグ戦が中止となり、全日程を消化できなかった場合
    %li
      新型コロナウイルス感染症に関連する不戦敗によって、1部もしくは2部リーグの最下位となるチームが発生した場合
    %li
      その他、理事会が開催中止を決定した場合

  %h2.article__sub-title
    4. 自動昇格
  %p
    「自動昇格」について、以下のように制定する。

  %h3.article__sub-sub-title
    4-1. 自動昇格となる条件
  %p
    以下の2つの条件を両方満たす場合、2部リーグまたは3部リーグの優勝チームは上位リーグに昇格となる。
    %br.pc_br
    ただしその場合は、上位リーグからの降格は発生しない。

  %ol.article__list
    %li
      下位リーグにおいて総当たり1回戦を終え、優勝が決定していること
    %li
      入替戦が中止となっていること

  %h3.article__sub-sub-title
    4-2. 自動昇格を適用した場合の次季リーグ戦
  %p
    自動昇格を適用した場合の次季リーグ戦については、以下のルールで執り行う。

  %ol.article__list
    %li
      自動昇格となった1チームを追加し、計7チームが参加する。
    %li
      総当たり2回戦方式については変更しない（つまり6チームの場合から試合数が増える）。

  %h3.article__sub-sub-title
    4-3. 自動昇格を適用した場合の次季入替戦
  %p
    自動昇格を適用した場合の次季入替戦については、以下のルールで執り行う。

  %ol.article__list
    %li
      下位リーグ優勝チームと、上位リーグの6位・7位チームの計3チームが参加する。
    %li
      方式等の詳細については理事会で決定する。

  %h2.article__sub-title
    5. 特別規定

  %h3.article__sub-sub-title
    5-1. 秋季リーグ戦の特別規定
  %p
    秋季リーグ戦の特別規定について、以下のように制定する。

  %ol.article__list
    %li
      試合は9回打ち切りとし、同点の場合は引き分けとする。
    %li
      試合をするチームが以下の理由で出場できない場合は、その試合について不戦敗とする。

      %ul.mt-2
        %li
          大学の決定により、大会参加が認められないなどの事情があること
        %li
          大学の決定による活動停止の後、活動再開からリーグ戦開幕までの練習期間が短いこと（練習期間については連盟と協議する）
        %li
          チーム内で新型コロナウイルス感染者が発生し、大学の決定により試合への出場が認められないこと

  %h3.article__sub-sub-title
    5-2. 入替戦の特別規定
  %p
    秋季入替戦の特別規定について、以下のように制定する。
  %ol.article__list
    %li
      9回を終了して同点の場合、10回表からはタイブレーク方式（無死一、二塁から継続打順で開始）を採用する。
