.article
  %h1
    .article__event
      札幌学生野球連盟 2021年度春季リーグ戦
    .article__title
      実施条件・特別規定
  %p
    2021年度春季リーグ戦を開催するにあたり、以下のように実施条件・特別規定を制定する。

  %h2.article__sub-title
    実施条件

  %h3.article__sub-sub-title
    春季リーグ戦を中止する場合
  %p
    以下の場合、春季リーグ戦を中止とする。
  %ol.article__list
    %li
      リーグ戦期間中に、石狩管内で新型コロナウイルス感染症拡大による「緊急事態宣言」が発令された場合
    %li
      リーグ戦開幕前であっても、「緊急事態宣言」がリーグ戦期間中に発令されることが確実な場合
    %li
      所属する大学よりリーグ戦に出場が認められないチームが多く、リーグ戦の運営が難しくなるなどの理由から、理事会でリーグ戦の中止を決定した場合
    %li
      連盟で定めたガイドラインに明らかに反するなど、理事会でリーグ戦の中止を決定した場合

  %h3.article__sub-sub-title
    春季リーグ戦を実施する場合
  %p
    以下の場合、春季リーグ戦を実施する。
  %ol.article__list
    %li
      石狩管内で感染症拡大による「緊急事態宣言」が発令されていない場合、かつリーグ戦期間中に「緊急事態宣言」が発令される見込みがない場合
    %li
      その他、理事会でリーグ戦実施を決定した場合

  %h2.article__sub-title
    特別規定
  %p
    以下のように春季リーグ戦の特別規定を制定する。
  %ol.article__list
    %li
      延長戦は、10回からタイブレーク（無死1、2塁の継続打順から開始）とする。延長戦は12回までとする。
    %li
      2部・3部リーグの先攻／後攻は、メンバー表交換時に決定する。
    %li
      試合に使用するロージンは、試合前に審判から両軍に各1個を配布する。感染予防の観点から、投手はイニング開始時にマウンドに持って行き、終了時にはベンチに持ち帰る。
    %li
      試合時間が長くなった場合、球回しの省略について各リーグで判断し、決定する。
    %li
      試合終了後は連盟が用意した消毒液で、自チームのベンチを消毒する。時間は10分間とする。
      %br
      消毒作業に伴い、前の試合の終了から次の試合の開始までの時間は、1部リーグは45分間、2・3部リーグは50分間とする。シートノックを省略する場合は、この時間を短縮する。
    %li
      ここに定められてない項目については、連盟事務局と協議し決定する。
