.article.mb-5
  %h1
    .article__event
      札幌学生野球連盟 2021年度秋季リーグ戦／入替戦
    .article__title
      実施条件・特別規定と説明
  %p
    2021年度秋季リーグ戦／入替戦を開催するにあたり、以下のように実施条件・特別規定を制定する。

  %p
    1. リーグ戦期間中に、札幌市又は石狩管内及び後志、空知管内において「緊急事態宣言」及び「まん延防止等重点措置」が発令されることが確実な場合は以下のとおりとする。
  .ml-4
    %p
      1-1. 理事会が開催可否について協議する。以下の場合、開催中止が想定される。
    %ol
      %li
        各リーグ戦で半数以上の大学の出場が困難となった場合。
      %li
        連盟で定めたガイドラインに明らかに反する場合。
      %li
        道内の感染状況が著しく悪化し、各リーグ戦球場の使用禁止など球場確保が困難な場合
    %p
      1-2. リーグ戦続行の場合でも、観客を制限する場合がある。
    %ol
      %li
        「緊急事態宣言」発令期間中は無観客（スカウト等は除く）とする。この場合、参加校の球場入り人数は、各大学で判断する。
      %li
        「まん延防止等重点措置」発令期間中は施設責任者と協議のうえ各リーグが判断する。（各リーグが有観客試合かは、ホームページで発表する。）

  %p
    2. リーグ戦を途中で中止した場合、以下のとおり順位を決定する。ただし、総当り1回戦を終えていない場合は順位を決定しない。
  %ol
    %li
      中止時点での勝率を用いて順位を決定する。この場合、消化試合数を問わない。
    %li
      中止時点において同率の場合、優勝決定戦を行う場合がある。開催は理事会で決定する。優勝決定戦が開催できない場合、当該校同士の対戦成績、得失点差、総得点の順で優勝大学を決定する。
    %li
      最下位が同率で複数ある場合、順位決定戦は行わず前回リーグ戦の順位を適用し、次回リーグ戦の組み合わせを決定する。

  %p
    3. 以下の場合、入れ替え戦を行わない。
  %ol
    %li
      リーグ戦の全日程を終了した場合で、新型コロナウイルス感染症に関連する不戦敗により最下位が決定した場合。（当該大学に関する組み合わせのみを中止とする。もう一組の入替戦はそのまま実施する。）
    %li
      理事会が開催中止を決定した場合。（当該入替戦に関わるリーグ戦が中止となった場合。）

  %p
    4. 自動昇格の適用について
  %ol
    %li
      上記の条件により入替戦を行えず、かつ総当り1回戦を終え下位リーグ優勝大学が決定している時は、自動昇格とする。なお、この場合の上位リーグからの自動降格は発生しない。
    %li
      自動昇格を適用した場合、次回リーグ参加校は7とする。
    %li
      自動昇格を適用した場合、次季リーグ戦においては、下位リーグ優勝大学と上位リーグ6位・7位大学による入替戦を行う。7大学になった次季のリーグ戦も2回総当たりとする。なお、球場は公営球場・各大学グラウンドを利用する。
    %li
      自動昇格を適用した場合、次季入替戦の方式は理事会で決定する。

  %p
    5. 秋季リーグ戦特別規定
  %ol
    %li
      各リーグ戦とも10試合制で実施する。
    %li
      同点の場合、延長戦は行わず9回で打ち切りとする。
    %li
      新型コロナ感染症に関して、以下の理由で出場できない大学の試合は、当該大学の不戦敗とする。
    %ol
      %li
        大学の決定により、大会参加が認められないなどの事情で試合に出場できない場合
      %li
        大学の活動停止の後、活動再開からリーグ戦開幕まで、練習期間が短く試合に出場できない場合（練習期間は連盟と協議する。）
      %li
        野球部内で感染者が出て、大学の決定で試合の出場ができない場合

  %p
    6. 入替戦特別規定
  %ol
    %li
      9回を終了して同点の場合、10回表からタイブレーク方式（無死1・2塁の継続打順で開始）を採用する
