.article
  %h1
    .article__event
      札幌学生野球連盟 2021年度春季リーグ戦／入替戦
    .article__title
      観戦ガイドライン
  %p
    新型コロナウイルス感染症拡大防止のため、2021年度春季リーグ戦（入替戦を含む）の観戦ガイドラインを定めました。
    %br.pc_br
    試合を観戦される皆様におかれましては、本ガイドラインを遵守されますよう、お願いいたします。

  %h2.article__sub-title
    有観客開催を予定しております
  %p
    どなたでも通常のリーグ戦同様に観戦することができます。応援団も入場できます。
    %br.pc_br
    1部は有料開催、2部・3部は無料開催とします。
  %p
    %del
      ただし、石狩管内において「まん延防止等重点措置」が適用になった場合は、
    %br.pc_br
    %del
      選手の家族とスカウト（プロ・社会人）のみの入場に限定させていただきます。
  %p
    %span.marker--yellow.font-weight-bold.text-danger
      【追記（2021年4月30日）】
    %br
    %span.marker--yellow.font-weight-bold.text-danger
      石狩管内において「まん延防止等重点措置」が適用となった場合、球場への入場は選手の家族とスカウトのみに限定するとしておりましたが、
    %br.pc_br
    %span.marker--yellow.font-weight-bold.text-danger
      札幌市・石狩管内における新型コロナウイルス感染者が急増している状況を踏まえ、
    %br.pc_br
    %span.marker--yellow.font-weight-bold.text-danger
      「まん延防止等重点措置」が適用となった場合は、完全な無観客試合とすることに決定いたしました。

  %h2.article__sub-title
    入場の際に実施いただくこと
  .article__list-item-title
    1. アルコール消毒、体温計測
  %p
    ご入場の際には、スタンド入口等にてアルコール消毒液で手を消毒し、体温計測を行います。
  .article__list-item-title
    2. 氏名、連絡先の記入
  %p
    同じくご入場の際、所定の用紙（健康チェックシート）に氏名・連絡先などをご記入いただきます。
    %br.pc_br
    万一、球場の利用者・観戦者に新型コロナウイルス感染者が出た場合、濃厚接触者等感染ルート確認のため連絡をさせていただく場合があります。
  %p
    健康チェックシートはスタンド入口等に用意いたしますが、以下のボタンからダウンロードすることもできます。
    %br.pc_br
    ダウンロードしたものを印刷しご記入の上、来場時に提出いただくことで、よりスムーズに入場することも可能です。
    %br.pc_br
    （体温欄だけは入場時に計測して記入いただきますので、空欄のままご持参ください）

  = link_to health_check_sheet_path, class: 'btn btn-stop-covid-19', target: '_blank', rel: 'noopener noreferrer' do
    健康チェックシートダウンロード
    = icon('fas', 'file-download', class: 'ml-1')

  %h2.article__sub-title
    観戦中のルール
  %ol.article__list
    %li
      %span.marker--yellow.font-weight-bold.text-danger
        球場内ではマスクを常時着用してください
    %li 『密集・密接』を避けるため2m以上の間隔を空けて着席するなど、ソーシャルディスタンスを守ってください
    %li スタンドでの観戦中は、大きな声で会話、応援をしないでください
    %li 鳴り物での応援は禁止とします

  %h2.article__sub-title
    ご入場できないケース
  %p
    以下1-5の事項に該当する場合には球場入りできません。該当される方は、球場への来場をお控えください。
    %br.pc_br
    また、スタンド入口での検温の結果、37.5℃以上の発熱がある方は入場をお断りさせていただきます。
  %p
    その他、新型コロナウイルス感染症拡大防止のため、大会運営本部が球場への入場をお断りする場合があります。
    %br.pc_br
    その場合は、大会運営本部の指示に従ってください。
  .article__list-item-title
    1. 体調が良くない場合
  %ul.article__list
    %li 発熱（37.5℃以上）
    %li 咳、咽頭痛などの症状がある
    %li だるさ（倦怠感）、息苦しさ（呼吸困難）がある
    %li 嗅覚や味覚の異常がある
    %li 体が重く感じる、疲れやすい
  .article__list-item-title
    2. 新型コロナウイルス感染症と診断された方との濃厚接触がある場合
  .article__list-item-title
    3. 同居家族や身近な知人に感染が疑われる方がいる場合
  .article__list-item-title
    4. 過去2週間以内に、政府から入国制限、入国後の観察期間を必要とされている国・地域等への渡航をした場合
  .article__list-item-title
    5. 上記「4.」に該当する方との濃厚接触がある場合

  %p.article__last-message
    学生野球の安心・安全な試合運営に、ご理解とご協力のほどよろしくお願いいたします。
