.article
  %h1
    .article__event
      札幌学生野球連盟 2021年度春季リーグ戦／入替戦
    .article__title
      観戦ガイドライン
  %p
    新型コロナウイルス感染症拡大防止のため、2021年度春季リーグ戦（入替戦を含む）の観戦ガイドラインを定めました。
    %br
    試合を観戦される皆様におかれましては、本ガイドラインを遵守されますよう、お願いいたします。

  %h2.article__sub-title
    有観客開催を予定しております
  %p
    観客、スカウトの方は通常のリーグ戦同様に観戦することができます。1部は有料開催、2部・3部は無料開催とし、応援団は入場できます。

  %h2.article__sub-title
    ご入場の際に実施いただくこと
  .article__list-item-title
    1. アルコール消毒、体温計測
  %p
    ご入場の際には、スタンド入口等にてアルコール消毒液で手を消毒し、体温計測を行います。
  .article__list-item-title
    2. 氏名、連絡先の記入
  %p
    同じくご入場の際、所定の用紙に氏名・連絡先を記入してください。
    %br
    万一、球場の利用者・観戦者に新型コロナウイルス感染者が出た場合、濃厚接触者等感染ルート確認のため連絡をさせていただく場合があります。

  %h2.article__sub-title
    球場来場時／観戦中のルールについて
  %ol.article__list
    %li 球場へお越しの際はマスクを必ず着用してください
    %li 『密集・密接』を避けるため2m以上の間隔を空けて着席するなど、ソーシャルディスタンスを守ってください
    %li スタンドでの観戦中、大きな声で会話、応援をしないでください
    %li 鳴り物での応援は禁止とします

  %h2.article__sub-title
    ご入場できないケースについて
  %p
    観客、スカウトの方は、以下1-4の事項に該当する場合には球場入りできません。該当される方は、球場への来場をお控えください。
    %br
    また、スタンド入口での検温の結果、37.5℃以上の発熱がある方は入場をお断りさせていただきます。
  %p
    その他、新型コロナウイルス感染症拡大防止のため、大会運営本部が球場への入場をお断りする場合があります。その場合は、大会運営本部の指示に従ってください。
  .article__list-item-title
    1. 体調が良くない場合
  %ul.article__list
    %li 発熱（37.5℃以上）
    %li 咳、咽頭痛などの症状がある
    %li だるさ（倦怠感）、息苦しさ（呼吸困難）がある
    %li 嗅覚や味覚の異常がある
    %li 体が重く感じる、疲れやすい
  .article__list-item-title
    2. 新型コロナウイルス感染症と診断された方との濃厚接触がある場合
  .article__list-item-title
    3. 同居家族や身近な知人に感染が疑われる方がいる場合
  .article__list-item-title
    4. 過去2週間以内に政府から入国制限、入国後の観察期間を必要とされている国・地域等への渡航または当該該当者との濃厚接触がある場合

  %p.article__last-message
    学生野球の安心・安全な試合運営に、ご理解とご協力のほどよろしくお願いいたします。
