<%# 年度セレクトボックスの選択肢が「2007年〜」のため、注意されたし。 %>

<div class="col-sm-1"></div>
<div class="col-sm-3">
  <div class="form-group">
    <%= select_tag :key_year, options_for_select(Constants.get_year_set_from_2007, @selected_year), class: 'form-control' %>
  </div>
</div>
<div class="col-sm-3">
  <div class="form-group">
    <%= select_tag :key_season, options_for_select(['春季', '秋季'], @selected_season), class: 'form-control' %>
  </div>
</div>
<div class="col-sm-3">
  <div class="form-group">
    <%= select_tag :key_event,
                   options_for_select(['1部リーグ戦', '2部リーグ戦', '3部リーグ戦', 'トーナメント'], @selected_event),
                   class: 'form-control' %>
  </div>
</div>
<div class="col-sm-2">
  <%= submit_tag '表示', class: 'btn btn-default' %>
</div>
