.stop-covid-19-alert--emergency.mb-3.mb-sm-4
  .stop-covid-19-alert__important-caption.mb-1
    = icon('fas', 'exclamation-triangle', class: 'mr-1')
    重要
  5月16日から北海道に「緊急事態宣言」が発令されることになりましたため、
  %span.marker--yellow.font-weight-bold.text-danger
    2021年度春季リーグ戦は5月14日をもって中止といたします。
  %br.pc_br
  これに伴い、
  %span.marker--yellow.font-weight-bold.text-danger
    2021年度春季入替戦も中止といたします。
  学生や関係者の健康・安全を守るためのの対応であり、ご理解いただけますと幸いです。コロナ禍の中でも、ファンの皆様からオフライン／オンライン両方でたくさんの応援をいただきました。誠にありがとうございました。

  .mt-2
    詳細については以下のページにてご確認ください。
    %br.pc_br
    = link_to '2021年度春季リーグ戦／入替戦の中止について', articles_2_path, class: 'link-text'
