.stop-covid-19-alert--emergency.mb-3.mb-sm-4
  .stop-covid-19-alert__important-caption.mb-1
    = icon('fas', 'exclamation-triangle', class: 'mr-1')
    重要
  5月9日から31日まで、札幌市に「まん延防止等重点措置」が適用となりましたため、
  %span.marker--yellow.font-weight-bold.text-danger
    この期間の春季リーグ戦は無観客開催とさせていただきます。
  観戦をご希望される皆様には誠に申し訳ありませんが、本サイトや各大学硬式野球部のSNSにて、試合経過・結果をご覧くださるようお願いいたします。

-#.stop-covid-19-alert.mb-3.mb-sm-4
-#  .mb-2
-#    新型コロナウイルス感染症拡大防止のため、春季リーグ戦／入替戦の観戦ガイドラインを作成いたしました。
-#    %br.pc_br
-#    球場にご来場の際は、ご理解とご協力のほどよろしくお願いいたします。
-#    %br.pc_br
-#    ※観戦ガイドラインのページから、健康チェックシートをダウンロードできるようになりました。
-#
-#  = link_to stop_covid19_path, class: 'btn btn-stop-covid-19' do
-#    観戦ガイドライン
-#    = icon('fas', 'file-alt', class: 'ml-1')
