.stop-covid-19-alert--emergency.mb-3.mb-sm-4
  .stop-covid-19-alert__important-caption
    = icon('fas', 'exclamation-triangle', class: 'mr-1')
    重要
  石狩管内において「まん延防止等重点措置」が適用となった場合、球場への入場は選手の家族とスカウトのみに限定するとしておりましたが、
  札幌市・石狩管内における新型コロナウイルス感染者が急増している状況を踏まえ、
  %span.marker--yellow.font-weight-bold.text-danger
    「まん延防止等重点措置」が適用となった場合は、完全な無観客試合とすることに決定いたしました。

.stop-covid-19-alert.mb-3.mb-sm-4
  .mb-2
    新型コロナウイルス感染症拡大防止のため、春季リーグ戦／入替戦の観戦ガイドラインを作成いたしました。
    %br.pc_br
    球場にご来場の際は、ご理解とご協力のほどよろしくお願いいたします。
    %br.pc_br
    ※観戦ガイドラインのページから、健康チェックシートをダウンロードできるようになりました。

  = link_to stop_covid19_path, class: 'btn btn-stop-covid-19' do
    観戦ガイドライン
    = icon('fas', 'file-alt', class: 'ml-1')
