.stop-covid-19-alert.mb-3.mb-sm-4
  .mb-2
    新型コロナウイルス感染症拡大防止のため、秋季リーグ戦／入替戦の観戦ガイドラインを作成いたしました。
    %br.pc_br
    球場にご来場の際は、ご理解とご協力のほどよろしくお願いいたします。
    %br.pc_br
    ※観戦ガイドラインのページから、健康チェックシートをダウンロードできます。

  = link_to stop_covid19_path, class: 'btn btn-stop-covid-19' do
    観戦ガイドライン
    = icon('fas', 'file-alt', class: 'ml-1')
