.stop-covid-19-alert.mb-3.mb-sm-4
  新型コロナウイルス感染症拡大防止のため、
  %br.sp_br
  春季リーグ戦の観戦ガイドラインを作成いたしました。
  %br.pc_br
  球場にご来場の際は、ご理解とご協力のほどよろしくお願いいたします。

  .d-sm-flex.mt-2
    .mb-2.mb-sm-0= link_to '2021年度春季リーグ戦観戦ガイドライン', stop_covid19_path, class: 'btn btn-stop-covid-19'
    .ml-sm-2= link_to 'ご来場者健康チェックシートダウンロード', health_check_sheet_path, class: 'btn btn-stop-covid-19', target: '_blank', rel: 'noopener noreferrer'
