.award-page-title {
  font-size: 32px;
  font-weight: bold;
}

.award-wrapper {
  display: flex;
  margin-top: 16px;
}

.award-menu--pc {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 16px;
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.award-menu--sp {
  margin-top: 16px;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.accordion-check{
  display: none;
}

.accordion-label{
  display: block;
  padding: 12px;
  border: 1px solid #666;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 0;
}

.accordion-content{
  border: 1px solid #666;
  border-top: none;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .5s;
  visibility: hidden;
}

.accordion-check:checked + .accordion-label + .accordion-content{
  height: 185px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

.award-menu {
  &__item {
    width: 100%;
    padding: 8px 0;
    border: 4px solid #666;
    text-align: center;
  }
  &__item:hover {
    background-color: #666;
    color: #FFF;
  }
  &__item:not(:last-child) {
    border-bottom: none;
  }
}

.award-main {
  flex: 1;
  @media screen and (min-width: 1024px) {
    margin: 16px;
  }
  &__title {
    @media screen and (min-width: 1024px) {
      font-size: 24px;
      line-height: 24px;
      padding: 16px;
    }
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    padding: 12px;
    margin-bottom: 8px;
    border: 4px solid #666;
  }
  &__message{
    margin-top: 16px;
  }
}

.award-card-wrapper {
  display: grid;
  gap: 4px;
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.award-card {
  border: 4px solid #666;
  padding: 8px;
  &__award {
    font-size: 16px;
  }
  &__player {
    font-size: 24px;
    font-weight: bold;
    display: inline;
  }
  &__remarks {
    display: inline;
    margin-left: 8px;
    font-size: 10px;
  }
}

