/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Bootstrap4
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html, body {
  font-size: 13px;
  color: #666666;
  overflow-x: hidden;
}

h1 {
  padding: 0;
  color: black;
  font-size: 25px;
}

.admin-h1 {
  font-size: 20px;
  padding-top: 15px;
}

h2 {
  margin-top: 18px;
  font-size: 15px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 18px;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-default {
  color: #808080;
  background-color: #fff;
  border-color: #c0c0c0;
}

a,
a:hover,
a:active,
a:visited,
a:link {
  color: #666666;
  text-decoration: none;
}

.table-info td {
  padding: 5px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  background-color: #fff;
}

.col-12-footer {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#notice {
  color: red;
}

.bg-green {
  color: #fff;
  background-color: #2F4F4F;
}

.standing-sp td {
  padding: 1px;
}

.rank-team-name {
  width: 250px;
}

.padding-bottom10 {
  padding-bottom: 10px;
}

.padding-top10 {
  padding-top: 10px;
}

.margin-top30 {
  margin-top: 30px;
}

.table-condensed > tbody > tr > td {
  padding: 0 0 0 5px;
}

.table-condensed > tfoot > tr > td {
  padding: 0;
}

.border-5px {
  border-top: 5px solid #dee2e6 !important;
}

.font-size-12 {
  font-size: 12px;
}

.card-hover:hover {
  color: #CCCCCC;
  background-color: #666666;
  border-color: #CCCCCC;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #666666;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #666666;
  border-color: #666666;
}

.sp_br {
  // pc
  @media screen and (min-width: 701px) {
    display: none;
  }
}

.pc_br {
  // sp
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.ul-overwrite {
  padding-left: 30px;
}
