.article {
  color: #3D3D3D;
  margin-top: 16px;
}

.article__event {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
  @media screen and (max-width: 1023px) {
    font-size: 12px;
  }
}

.article__title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
  @media screen and (max-width: 1023px) {
    font-size: 24px;
  }
}

.article__sub-title {
  font-weight: bold;
  font-size: 24px;
  border-bottom: solid 1px #c0c0c0;
  margin-top: 32px;
  @media screen and (max-width: 1023px) {
    font-size: 20px;
  }
}

.article__sub-sub-title {
  font-weight: bold;
  font-size: 18px;
  border-bottom: solid 1px #c0c0c0;
  margin-top: 32px;
  @media screen and (max-width: 1023px) {
    font-size: 18px;
  }
}

.article__list-item-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.article__list {
  margin-left: -12px;
}

.article__last-message {
  margin-top: 3em;
}

.article-list {
  flex: 1;
  margin: 0 8px;
  // sp
  @media screen and (max-width: 700px) {
    margin: 0 0 24px;
  }
}
