.more-link {
  margin-top: 8px;
  text-decoration: underline;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.marker--yellow {
  background: linear-gradient(transparent 60%, #ff6 60%);
}

.link-text {
  color: #FF8C00 !important;
  font-weight: bold;
  text-decoration: underline !important;
}
