.border-stop-covid19 {
  color: #dc3545 !important;
  border: solid 4px #dc3545;
  border-radius: 2px;
  font-weight: bold;
  margin-right: 16px;
}

.border-stop-covid19:hover {
  border: solid 4px #dc3545;
  border-radius: 2px;
  background-color: #dc3545;
  color: #FFF !important;
  font-weight: bold;
}

.border-special_rules_2020_autumn {
  color: #000080 !important;
  border: solid 4px #000080;
  border-radius: 2px;
  font-weight: bold;
  margin-right: 16px;
}

.border-special_rules_2020_autumn:hover {
  border: solid 4px #000080;
  border-radius: 2px;
  background-color: #000080;
  color: #FFF !important;
  font-weight: bold;
}

.border-bottom-stop-covid19 {
  color: #FFF !important;
  background-color: #dc3545;
  font-weight: bold;
}

.border-bottom-special_rules_2020_autumn {
  color: #FFF !important;
  background-color: #000080;
  font-weight: bold;
}

.button-stop-covid19 {
  color: #dc3545 !important;
  border: solid 2px #dc3545;
  border-radius: 2px;
  font-weight: bold;
  display: block;
  margin: 8px 13px;
  text-align: center;
  padding: 8px;
}

.button-special_rules_2020_autumn {
  color: #000080 !important;
  border: solid 2px #000080;
  border-radius: 2px;
  font-weight: bold;
  display: block;
  margin: 8px 13px;
  text-align: center;
  padding: 8px;
}

.link-stop-covid19 {
  color: #dc3545 !important;
  font-weight: bold;
}

.link-special_rules_2020_autumn {
  color: #000080 !important;
  font-weight: bold;
}

.link--skyblue {
  display: inline;
  font-weight: bold;
  background: linear-gradient(transparent 70%, #66ccff 0%);
  padding: .5rem .5rem;
}
