<h2>試合日程</h2>
<p style="padding-left: 5px">秋季リーグ戦（1部）第2節
  <small>
    （9月8日14時更新）
  </small>
</p>

<table class="table" style="margin-bottom: 0">
  <tr>
    <td style="padding-bottom :0">
      <div class="row">
        <div class="col-xs-12 text-left" style="padding-bottom: 5px">
          2018-09-26 (Wed) 札幌円山
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 text-right" style="padding: 5px">
          札幌大学
        </div>
        <div class="col-xs-2 text-center" style="padding: 5px">
          8:15
        </div>
        <div class="col-xs-5 text-left" style="padding: 5px">
          北海学園大学
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="border-top: none; padding-top :0; padding-bottom :0">
      <div class="row">
        <div class="col-xs-5 text-right" style="padding: 5px">
          星槎道都大学
        </div>
        <div class="col-xs-2 text-center" style="padding: 5px">
          10:45
        </div>
        <div class="col-xs-5 text-left" style="padding: 5px">
          北海道大学
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="border-top: none; padding-top :0">
      <div class="row">
        <div class="col-xs-5 text-right" style="padding: 5px">
          東海大学北海道C
        </div>
        <div class="col-xs-2 text-center" style="padding: 5px">
          13:15
        </div>
        <div class="col-xs-5 text-left" style="padding: 5px">
          北翔大学
        </div>
      </div>
    </td>
  </tr>
</table>

<table class="table" style="margin-bottom: 10px">
  <tr>
    <td style="padding-bottom :0">
      <div class="row">
        <div class="col-xs-12 text-left" style="padding-bottom: 5px">
          2018-09-28 (Fri) 野幌硬式
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 text-right" style="padding: 5px">

        </div>
        <div class="col-xs-2 text-center" style="padding: 5px">
          予備日
        </div>
        <div class="col-xs-5 text-left" style="padding: 5px">

        </div>
      </div>
    </td>
  </tr>
</table>

<p style="padding-left: 5px; padding-top :10px">
  ※野幌硬式野球場使用時は、<br>以下の試合開始時間を予定しています。<br>
  <small style="padding-left: 10px">
    第1試合：9時00分<br>
  </small>
  <small style="padding-left: 10px">
    第2試合：11時30分<br>
  </small>
  <small style="padding-left: 10px">
    第3試合：14時00分
  </small>
</p>