<table class="table-info">
  <tbody>
  <% infos.each do |info| %>
    <tr>
      <td class="py-0"><%= info.disp_date %></td>
    </tr>
    <tr>
      <td class="pl-4 py-sm-4"><%= info.article %></td>
    </tr>
  <% end %>
  </tbody>
</table>