<% content_for :content do %>
  <div class="d-none d-sm-block">
    <%= yield %>
  </div>
  <div class="d-sm-none d-block">
    <div class="py-3"></div>
    <p>
      日程情報はスマートフォンから管理できません。<br>
      PCにてアクセスをお願いいたします。
    </p>
  </div>
<% end %>
<%= render template: 'layouts/admin' %>